<header class="main-header solid-header">
  <div class="header-container">
    <nav class="navbar">
      <div class="logo-container">
        <app-text-logo></app-text-logo>
      </div>

      <ul class="nav-menu" [class.opened]="menuOpened">
        <li class="nav-item" *ngFor="let item of menuItems" (click)="setActive(item)">
          <a [routerLink]="item.link" [ngClass]="{'active': activeItem === item}" class="nav-link">
            {{ item.label }}
            <span class="link-underline"></span>
          </a>
        </li>
      </ul>

      <div class="hamburger-menu" [ngClass]="{'active': menuOpened}" (click)="onHamburgerClick()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
  </div>
</header>
