<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                <app-image-logo></app-image-logo>
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav" [class.opened]="menuOpened">
                    <li class="scroll-to-section" *ngFor="let item of menuItems" (click)="setActive(item)">
                      <a [routerLink]="item.link" [ngClass]="{'active': activeItem === item}">{{ item.label }}</a>
                    </li>
                  </ul>
                  <a class='menu-trigger' [ngClass]="{'active': menuOpened}" (click)="onHamburgerClick()">
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
