<section class="contact-form">
  <div class="container">
    <div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-6 col-lg-4">
            <img
              src="assets/images/Contacto.jpg"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-6 col-lg-8">
            <div class="card-body">
              <h4>Contacto</h4>
              <p class="card-text">Deja tu mensaje para ponernos en contacto</p>
              <form [formGroup]="contactForm">
                <div class="row mt-2">
                  <div class="col">
                    <input formControlName="name"
                      type="text"
                      class="form-control"
                      placeholder="Nombre"
                    />
                    <app-print-error [control]="contactForm.controls['name']"></app-print-error>
                  </div>
                  <div class="col">
                    <input formControlName="email"
                      type="text"
                      class="form-control"
                      placeholder="Correo"
                    />
                    <app-print-error [control]="contactForm.controls['email']"></app-print-error>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <textarea
                      class="form-control"
                      rows="3"
                      formControlName="message"
                      placeholder="Mensaje"
                    ></textarea>
                    <app-print-error [control]="contactForm.controls['message']"></app-print-error>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col">
                    <button
                      #button
                      type="button"
                      class="btn btn-outline-dark mt-4"
                      [disabled]="buttonDisabled"
                      (click)="sendEmail()"
                    >
                      {{ buttonText }}
                    </button>
                  </div>
                  <div class="col">
                    <re-captcha
                      (resolved)="resolved($event)"
                      siteKey="6Lc6yNEpAAAAAAu03gf6Q1Nxle2XrGRaRDU9obEd"
                    ></re-captcha>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
