<div class="contact-banner">
  <div>
    <div class="row">
      <div class="col-lg-12">
        <div class="image-container">
          <img src="assets/images/CotizaCta.jpg" alt="Imagen Principal" />
          <div class="overlay">
            <div class="text-content">
              <h4>{{ titleLine1 }}</h4>
              <h4>{{ titleLine2 }}</h4>
              <p class="mt-4">{{text}}</p>
              <button type="button" class="mt-4 btn btn-outline-light">
                {{textButton}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
