#store {
  padding-top: 120px;
  padding-bottom: 90px;
}

#store .section-heading {
  margin-bottom: 60px;
}




#store .owl-nav {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 40%;
  transform: translateY(-25px);
}

#store .owl-dots {
  display: none;
}

#store .owl-nav .owl-prev{
  position: absolute;
  left: -80px;
  outline: none;
}

#store .owl-nav .owl-prev span,
#store .owl-nav .owl-next span {
  opacity: 0;
}

#store .owl-nav .owl-prev:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: '\f104';
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border :1px solid #2a2a2a;
}

#store .owl-nav .owl-prev {
  opacity: 0.75;
  transition: all .5s;
}

#store .owl-nav .owl-prev:hover {
  opacity: 1;
}

#store .owl-nav .owl-next {
  opacity: 0.75;
  transition: all .5s;
}

#store .owl-nav .owl-next:hover {
  opacity: 1;
}

#store .owl-nav .owl-next{
  outline: none;
  position: absolute;
  right: -85px;
}

#store .owl-nav .owl-next:before {
  display: inline-block;
  font-family: 'FontAwesome';
  color: #2a2a2a;
  font-size: 25px;
  font-weight: 700;
  content: '\f105';
  width: 50px;
  height: 50px;
  background-color: transparent;
  line-height: 48px;
  border :1px solid #2a2a2a;
}
