.section{
  padding-top: 80px;
 }

 .card-body{
  padding: 1.25rem 0 0 0
}


@media (max-width: 768px) {
  .section{
    padding-top: 40px;
   }

}

.image-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: auto; /* Ajusta la altura si es necesario */
  margin: 0 auto;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: auto;
}


.btn {
  margin-top: 5vh;
  border: 3px solid;
  border-radius: 0;
  font-family: 'APORELORO';
}

.card{
  border: 0;
}

@media (max-width: 767px) {
  .btn {
    display: block;
    width: 100%;
  }

  .store-session{
    padding-top: 30px;
  }
  .card-body{
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .btn {
    position: absolute;
    bottom: 0;
  }

  .card-body {
    padding: 0 0 0 1.25rem;
}
}

@media (max-width: 480px) {
  .card-body {
    padding: 1.25rem 0 0 0;
}
}

.card-text {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .card-text {
    font-size: 16px;
  }
}
