<section class="section" id="store-section">
  <div class="container">
      <div>
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6 col-lg-4 ">
              <img src="assets/images/NuestraMerch.jpg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-6 col-lg-8 ">
              <div class="card-body">
                <h4>{{titleLine1}}</h4>
                <h4>{{titleLine2}}</h4>
                <p class="card-text">{{text}}</p>
                <button type="button" class="btn btn-outline-dark">{{textButton}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
