<section class="section" id="store-section">
  <div class="container">
    <div>
      <div class="card">
        <div class="row g-0">
          <div class="col-md-6 col-lg-6">
            <div class="image-container">
              <img src="assets/images/NuestraMerch.jpg" alt="Nuestra Merch" />
            </div>
          </div>
          <div class="col-md-6 col-lg-6">
            <div class="card-body">
              <h4>{{ titleLine1 }}</h4>
              <h4>{{ titleLine2 }}</h4>
              <p class="card-text-1">{{ text }}</p>
              <p class="card-text">{{ text2 }}</p>
              <button type="button" routerLink="/media" class="btn btn-outline-dark">
                {{ textButton }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
