<section class="section" id="social">
  <section class="section" id="social">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Intagram <i class="fa fa-instagram"></i></h2>
            <span>Siguenos para una dosis diaria de contenido inspirador</span>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <ngx-behold-widget [feedId]="'6ve5IkJUFkWwu0r7gio8'" />
    </div>
  </section>
</section>
