<section class="section" id="store-section">
  <div class="container">
      <div class="row">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="assets/images/merch.jpeg" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h4>{{title}}</h4>
                <p class="card-text">{{text}}</p>
                <button type="button" class="btn btn-outline-dark">{{textButton}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>
