h4 {
  color: black;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn {
  margin-top: 5vh;
}

@media (max-width: 767px) {
  .btn {
    display: block;
    width: 100%;
    margin-top: 5vh;
  }
}
