h4 {
  color: black;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}

.btn {
  margin-top: 5vh;
  border: 3px solid;
  border-radius: 0;
  font-family: 'APORELORO';
}

.card{
  border: 0;
}

@media (max-width: 767px) {
  .btn {
    display: block;
    width: 100%;
  }
}
