<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                <div class="logo">
                  <span>A POR EL ORO</span>
                </div>
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav" [class.opened]="menuOpened">
                      <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                      <li class="scroll-to-section"><a href="#men">Media's</a></li>
                      <li class="scroll-to-section"><a href="#women">Tienda</a></li>
                      <li class="scroll-to-section"><a href="#kids">Contacto</a></li>
                  </ul>
                  <a class='menu-trigger' [ngClass]="{'active': menuOpened}" (click)="onHamburgerClick()">
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
