<div class="main-banner" id="top">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12">
              <div class="left-content">
                  <div class="thumb">
                      <div class="inner-content">
                          <span>Awesome, clean &amp; creative HTML5 Template</span>
                      </div>
                      <img src="assets/images/left-banner-image.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
