<div class="main-banner" [class.mobile-view]="isMobileSize" id="top">
  <div class="image-container">
    <img
      src="assets/images/BanerIndex3.jpg"
      alt="Estudio de serigrafía enfocado en desarrollo de merch"
      loading="eager"
    />

    <div class="overlay">
      <div class="text-content">
        <ng-container *ngIf="isMobileSize; else desktopView">
          <p>{{ bannerTexts.mobile.line }}</p>
        </ng-container>

        <ng-template #desktopView>
          <div class="logo">
            <img src="assets/images/LogoHeader.png" alt="" />
          </div>
          <p class="line-2">{{ bannerTexts.desktop.line2 }}</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
