.main-banner {
  padding-top: 130px;
}

body {
  margin: 0;
  padding: 0;
}
.image-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 812px; /* Ajusta la altura si es necesario */
  margin: 0 auto;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad aquí */
  color: white;
  display: flex;
  align-items: flex-end; /* Alinea el contenido al fondo */
  padding: 20px;
  box-sizing: border-box;
}
.text-content {
  width: 100%;
  max-width: 800px; /* Ajusta según sea necesario */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}
@media (max-width: 1440px) {
  .image-container {
    height: auto; /* Ajusta la altura para dispositivos móviles */
  }
  .text-content {
    padding: 10px; /* Reduce el padding en dispositivos móviles */
  }
}

@media (min-width: 1440px) {
  .text-content {
    max-width: 1200px; /* Ajusta según sea necesario */
  }
}

@media (min-width: 1400px) {
  .text-content {
    max-width: 1320px;
  }
}


@media (max-width: 768px) {
  .image-container {
    height: 400px; /* Ajusta la altura para dispositivos móviles */
  }
  .text-content {
    max-width: 90%; /* Ajusta el ancho máximo en dispositivos móviles */
    padding: 10px; /* Reduce el padding en dispositivos móviles */
  }
}

@media (max-width: 480px) {
  .image-container {
    height: 300px; /* Ajusta la altura para dispositivos muy pequeños */
  }
  .text-content {
    max-width: 100%; /* Ajusta el ancho máximo en dispositivos muy pequeños */
    padding: 5px; /* Reduce aún más el padding en dispositivos muy pequeños */
  }

  .text-content p {
    margin: 0;
  }
}
